# Credentials and Config
.env
config.json
auth_config.json

# Dependencies
node_modules/
venv/

# Build
build/
dist/
.DS_Store

# Runtime / Local
runtime.json
*.db
server/venv/
server/*.db
__pycache__/
*.pyc
